@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(217, 19%, 24%);
}
.adviceGenerator {
  width: 375px;
  border-radius: 15px;
  margin: 200px auto;
  background-color: hsl(217, 19%, 38%);
}
  .adviceNumberDiv {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(150, 100%, 66%);
    font-size: 12px;
    padding: 40px 0 10px;
  }
  .adviceTextDiv {
    color: hsl(193, 38%, 86%);
    text-align: center;
    padding: 10px 25px 25px;
    font-size: 12px;
  }
  .designLinesDiv {
    width: 80%;
    padding: 20px;
    background-image: url("../images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
  }
  .buttonDiv {
    position: relative;
    height: 40px;
  }
    button {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      background-color: hsl(150, 100%, 66%);
      top: 10px;
      left: 158px;
      box-shadow: 0 0 4px;
      cursor: pointer;
      transition: .3s;
    }
    button:hover {
      box-shadow: 0 0 14px hsl(150, 100%, 66%);
    }
.codedBy {
  width: 300px;
  text-align: center;
  font-size: 12px;
  margin: auto;
  color: hsl(193, 38%, 86%);
}


/* MEDIA QUERY */


@media (min-width: 1200px) {
  .adviceGenerator {
    width: 500px;
  }
    .designLinesDiv {
      background-image: url("../images/pattern-divider-desktop.svg");
    }
      button {
        left: 220px;
      }
}
